@font-face {
  font-family: "nanumfont";
  src: url(./assets/fonts/NanumSquareNeoOTF-Rg.otf);
}

@font-face {
  font-family: "nanumfontbold";
  src: url(./assets/fonts/NanumSquareNeoOTF-Bd.otf);
}

body {
  margin: 0;
  font-family: var(--font-nanumfont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-nanumfont: "nanumfont";
}
